.wrapper {
    background-image: url(background.jpg);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding-top: 70px;
}

.title {
    width:100%;
    height: 90px;
    line-height: 80px;
    text-align: center;
    font-size: 2.0em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.subtitle {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 13px;
    color: #dcdde1;
    text-transform: uppercase;
}

.experience, .contact {
    margin: 10px auto;
    padding: 0 5%;
}


.container {
    margin-top: 40px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box {
    background: #f3f6f4;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.box img {
    height: 70px;
    margin-top: 10px;
}

.box h3 {
    color: #444;
    padding: 10px 0;
    font-size: 20px;
}

.box p {
    color: #777;
    font-size: 14px;
    line-height: 1.6;
}

.btn {
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background: gray;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.box:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

.btn:hover {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.btn {
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background: gray;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn:hover {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}

.a1 {
    content:url(../images/lg.png);
}
.a2 {
    content:url(../images/byutv.png);
}
.a3 {
    content:url(../images/fs.png);
}
.a4 {
    content:url(../images/byu.png);
}
.a5 {
    content:url(../images/contact.png);
}